.header__banner {
  background-color: #282c34;
  min-height: 10rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header__message {
    font-size: 2rem;
    text-align: center;
  }

  @media screen and (max-width: 1024px) {
    img.responsive {
      width: 150px;
    }
  }

  @media screen and (min-width: 1025px) {
    img.responsive {
      width: 300px;
    }
  }

  img.responsive {
    height: auto;
  }
}
