.header {
  background-color: #282c34;
  min-height: 10rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-message {
  font-size: 2rem;
  text-align: center;
}
