.footer {
  background-color: #282c34;
  min-height: 4rem;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;

  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
  }
}
