.navbar {
  position: fixed;
  height: 4rem;
  width: 100%;
  top: 0;
  overflow: hidden;
  background-color: #282c34;
  display: flex;
  justify-content: flex-start;
}

.logo-title {
  display: flex;
  color: white;

  .logo {
    height: 3rem;
    margin-left: 1rem;
    margin-right: 0.5rem;
  }

  .title {
    font-size: 2em;
    margin: 0;
  }
}

.menu {
  list-style-type: none;
  margin: 0;
  display: flex;

  .option {
    margin-right: 1rem;
  }
}

.login {
  margin-left: auto;
  margin-right: 1rem;
}
