.navbar {
  background-color: gray;
  color: black;
  width: 100%;

  .navbar__content {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    li {
      margin-right: 2rem;
    }
  }
}

.navbar-item {
  color:black;
}

.is-active {
  color:orange;
}

a:hover {
  color: white;
  text-decoration: none;
}